* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



:root {
	--zwart: #1A1A1A;
	--wit: #FFFFFF;
	--lichtblauw: #E5F0F9;				
	--button-padding: 8px 15px;
	--buton-radius: 3px;
	--plaatmaat: 20em; 											
	--sheetbreedte: calc(var(--plaatmaat) * -12);
	--sheetbreedte-adem: calc(var(--plaatmaat) * -36);
	--maatregel: maatregeladd 5s 1 forwards
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'bold', Fallback, sans-serif;	
}

p {
	font-family: 'regular', Fallback, sans-serif;
}

@font-face {
	font-family: 'regular';
	src: url('assets/fonts/regular.ttf'); /* IE9 Compat Modes */
	src: url('assets/fonts/regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
		 url('assets/fonts/regular.ttf') format('woff2'), /* Super Modern Browsers */
		 url('assets/fonts/regular.ttf') format('woff'), /* Pretty Modern Browsers */
		 url('assets/fonts/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('assets/fonts/regular.ttf') format('svg'); /* Legacy iOS */
  }

  @font-face {
	font-family: 'bold';
	src: url('assets/fonts/bold.ttf'); /* IE9 Compat Modes */
	src: url('assets/fonts/bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
		 url('assets/fonts/bold.ttf') format('woff2'), /* Super Modern Browsers */
		 url('assets/fonts/bold.ttf') format('woff'), /* Pretty Modern Browsers */
		 url('assets/fonts/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('assets/fonts/bold.ttf') format('svg'); /* Legacy iOS */
  }

  .jump {
	animation: notwee 1s steps(12) infinite, spring 2s 1 !important; 
	visibility: visible !important;
}

.jump-adem {
	animation: nodrie 3s steps(36) infinite, spring 2s 1 !important; 
	visibility: visible !important;
}


.jumpno22 {
	animation: notwee 0.1s steps(13) infinite, spring 2s 1 !important; 
	visibility: visible !important;
}



@keyframes nodrie {
	100% { background-position: var(--sheetbreedte-adem) 0; }			/* De animatie */
}


@keyframes notwee {
	100% { background-position: var(--sheetbreedte) 0; }			/* De animatie */
}

@keyframes spring {
	0% {transform: scale(0.7); filter: drop-shadow(-10px 5px 1px rgba(0,0,0,0.3)) blur(0px);}
	50%{transform: scale(1.3); filter: drop-shadow(-50px 50px 25px rgba(0,0,0,0.3)) blur(5px);}
	75%{transform: scale(1.3); filter: drop-shadow(-50px 50px 25px rgba(0,0,0,0.3)) blur(0px);}
	100% {transform: scale(1.0); filter: drop-shadow(-30px 10px 4px rgba(0,0,0,0.3)) blur(0px);}			
}


@keyframes maatregelactivate {
	0% { transform: scale(1); opacity: 0.3; }
	50% { transform: scale(1.5); }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes maatregeloff {
	0% { opacity: 1; transform: scale(1); }
	50% { transform: scale(0.5); opacity: 0.1; }
	100% { opacity: 0.3; }
}

@keyframes maatregeladd {
	0% { transform: scale(1); }
	12.5% { opacity: 1; }
	25% { opacity: 0.3; }
	37.5% { opacity: 1; }
	50% { transform: scale(1.5); opacity: 0.3; }
	62.5% { opacity: 1; }
	75% { opacity: 0.3; }
	100% { opacity: 1; }
}

@keyframes maatregelsubtract {
	0% { transform: scale(1); }
	12.5% { opacity: 1; }
	25% { opacity: 0.3; }
	37.5% { opacity: 1; }
	50% { transform: scale(0.5); opacity: 0.3; }
	62.5% { opacity: 1; }
	75% { opacity: 0.3; }
	100% { opacity: 1; }
}




  @media only screen and (max-width: 600px) {
	* {
		overflow-x: hidden;
	}
	.chart-container {
		height: 40vh;
		width: 80vw;
	}
  }
 