* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



:root {
	--zwart: #1A1A1A;
	--wit: #FFFFFF;
	--lichtblauw: #E5F0F9;				
	--button-padding: 8px 15px;
	--buton-radius: 3px;
	--plaatmaat: 20vw; 											
	--sheetbreedte: calc(var(--plaatmaat) * -13);
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'bold', Fallback, sans-serif;	
}

p {
	font-family: 'regular', Fallback, sans-serif;
}

@font-face {
	font-family: 'regular';
	src: url('assets/fonts/regular.ttf'); /* IE9 Compat Modes */
	src: url('assets/fonts/regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
		 url('assets/fonts/regular.ttf') format('woff2'), /* Super Modern Browsers */
		 url('assets/fonts/regular.ttf') format('woff'), /* Pretty Modern Browsers */
		 url('assets/fonts/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('assets/fonts/regular.ttf') format('svg'); /* Legacy iOS */
  }

  @font-face {
	font-family: 'bold';
	src: url('assets/fonts/bold.ttf'); /* IE9 Compat Modes */
	src: url('assets/fonts/bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
		 url('assets/fonts/bold.ttf') format('woff2'), /* Super Modern Browsers */
		 url('assets/fonts/bold.ttf') format('woff'), /* Pretty Modern Browsers */
		 url('assets/fonts/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('assets/fonts/bold.ttf') format('svg'); /* Legacy iOS */
  }

  @media only screen and (max-width: 600px) {
	* {
		overflow-x: hidden;
	}
  }
 